/* Reset default browser styles */
body,
h1,
h2,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Global Styles */
body {
  font-family: Arial, sans-serif;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px 0;
}

section {
  padding: 40px 0;
}

h1,
h2 {
  color: #333;
}

nav {
  background-color: #f4f4f4;
  padding: 10px 0;
}

nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #333;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

.team-members {
  white-space: nowrap; /* Prevents wrapping to a new line */
  overflow-x: auto; /* Enables horizontal scrolling if needed */
}

.team-member {
  display: inline-block;
  width: 200px; /* Adjust width as needed */
  margin: 0 10px; /* Adjust margin as needed */
  text-align: center;
  vertical-align: top;
  box-sizing: border-box;
}

.team-member img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

.team-member p {
  margin: 0;
}

.team-member a {
  color: #333;
  text-decoration: none;
}

.team-member a:hover {
  text-decoration: underline;
}

.boat-image {
  display: block; /* Ensure the image is displayed as a block element */
  max-width: 20%; /* Set the maximum width to 100% of its container */
  height: auto; /* Maintain the aspect ratio */
  margin: 20px auto; /* Add margin for spacing */
}
